<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo" id="title1">ToDoApp</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isSignin}}
      <li class="active"><a href="/signin">Sign In</a></li>
      {{else}}
      <li><a href="/signin">Sign In</a></li>
      {{/if}}
      {{#if isAuth}}
      <li class="active"><a href="/auth">Sign Up</a></li>
      {{else}}
      <li><a href="/auth">Sign Up</a></li>
      {{/if}}
      {{#if isCreate}}
      <li class="active"><a href="/create"><i class="large material-icons">+</i></a></li>
      {{else}}
      <li><a href="/create"><i class="large material-icons">+</i></a></li>
      {{/if}}
      {{#if isUpload}}
      <li class="active"><a href="/files">Files</a></li>
      {{else}}
      <li><a href="/files">Files</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="mobile">
    <a href="/files" class="btn blue darken-4">Files</a>
    <a href="/auth" class="btn blue darken-4">Sign Up</a>
    <a href="/signin" class="btn blue darken-4">Sign In</a>
    <a href="/create" class="btn blue darken-4">+</a>
  </div>
</nav>