{{#if isSignUp}}
<h2>Вы уже вошли в ToDoApp</h2>
<form class="col s12" action="/signout" method="GET">
  <button class="btn blue darken-4" type="submit" name="action">Выйти</button>
</form>
{{else}}
<h2>Войти</h2>
<div class="row">
  <form class="col s10" action="/signin" method="POST">
    <input placeholder="Логин" id="Name" type="text" class="validate" name="username">
    <br>
    <input placeholder="Пароль" id="password" type="password" class="validate" name="password">
    <input type="hidden" value="{{_id}}" name="id"> 
    <button class="btn blue darken-4" type="submit" name="action">Войти</button>
  </form>
</div>
{{/if}}