#mobile{
    display: none;
}
.todo{
    margin-bottom: 1rem;
}
.todo span.completed {
    text-decoration: line-through;
}
.todo i {
    z-index:2;
}
.todo span{
    width: 100%;
    display: flex;
    text-align: left;
    padding-right: 1rem;
    cursor: pointer;
}
.card{
    height:auto
}
 #btn{
    position: relative;
}
#mobile-nav{
    display: none;
}
.todo-content{
    font-size: medium
}
textarea{
    height: 200px
}
@media screen and (max-width: 993px) {
    #mobile{
        display: inline-block;
    }
    #tilte1{
        display: none;
     }
     #tilte{
        padding-left: 15rem;
      }
   }
#note-title{
    text-align: left;
    padding-left: 1rem;
}
.todo-content{
    font-size: large;
}
.card-content{
    font-size: larger;
    color: black
}
meter{
    height: 2rem;
    width: 10rem;
}
#process{
    font-size: larger;
    padding-left: 0.5rem;
}
#file-text{
    padding-top: 0rem;
}
.mobile{
    display: none;
}
@media screen and (max-width: 993px) {
    .mobile{
        display: inline-block;
    }
    #file-text{
        padding-top: 1rem;
    }
   }